
<%= form_for :checkout_form, url: braintree_checkout_path(params[:id]), html: { id: "cardForm"} do |form| %>
<%= render partial: '/braintree/payment', locals: {form: form} %>
<%end%>

<!-- Load the Client component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>

<!-- Load the Hosted Fields component. -->
<script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>

<script>
 var form = document.querySelector('#cardForm');
 var submit = document.querySelector('#submit-payment-btn');

 braintree.client.create({
   authorization: '<%= @client_token %>'
 }, function (clientErr, clientInstance) {
   if (clientErr) {
     console.error(clientErr);
     return;
   }

        // This example shows Hosted Fields, but you can also use this
        // client instance to create additional components here, such as
        // PayPal or Data Collector.

        braintree.hostedFields.create({
          client: clientInstance,
          styles: {
            'input': {
              'font-size': '14px'
            },
            'input.invalid': {
              'color': 'red'
            },
            'input.valid': {
              'color': 'green'
            }
          },
          fields: {
           number: {
             selector: '#card-number',
             placeholder: '4111 1111 1111 1111'
           },
           cvv: {
             selector: '#cvv',
             placeholder: '123'
           },
           expirationDate: {
             selector: '#expiration-date',
             placeholder: '10/2019'
           }
         }
       }, function (hostedFieldsErr, hostedFieldsInstance) {
        if (hostedFieldsErr) {
          console.error(hostedFieldsErr);
          return;
        }

        submit.removeAttribute('disabled');

        form.addEventListener('submit', function (event) {
          event.preventDefault();

          hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
            if (tokenizeErr) {
              console.error(tokenizeErr);
              return;
            }

               // Put `payload.nonce` into the `payment_method_nonce` input, and then
        // submit the form. Alternatively, you could send the nonce to your server
        // with AJAX.
        document.querySelector('input[name="checkout_form[payment_method_nonce]"]').value = payload.nonce;
        form.submit()
      });
        }, false);
      });
      });

    </script>