    <%= form_for :session, url: session_path, id: "clearance", class: "" do |form| %>

    <div class="form-group email-signup">
      <input type="email" class="form-control" placeholder="Email Address" name="session[email]" style="text-align: center">
   </div>

   <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="session[password]"  style="text-align: center">
   </div>

   <button type="submit" class="btn btn-primary">Login</button>          

   <% end %>