<!-- Sign in form -->
<div class="login-form">
   <div class="container">   
      <div class="login-form login-booking">
         <div class="main-div">         

            <div class="panel">
               <h2 style="color: #ff6969; font-size: 25px;"><strong>Air BnB</strong></h2>
               <!-- Login with google -->         
               <%= link_to "Google sign in", "/auth/google_oauth2", class: "btn btn-danger btn-gplus btn-lg btn-block" %>  
            </div>

            <div id="registrationBox" class="register">
               <%= render partial: '/users/register' %>
            </div>   

            <div id="loginBox" class="login">
               <%= render partial: '/sessions/login' %>
            </div>

            <a href="#" id="display-box-trigger" style="margin-top: 5%;" onclick="event.preventDefault();registration_form_display();">Register</a>

         </div>

      </div>
   </div>
</div>

<script>
// My custom carousel function
let counter = 2
let started = true
window.setInterval(function(){

// Reset counter
if (counter === 4){
 counter = 1
 started = false
}
// Add active class
if(counter !== 0){
 let nextItem = document.getElementById('carousel' + String(counter))    
 nextItem.classList.add("active")  
} else{
 let nextItem = document.getElementById('carousel1')
 nextItem.classList.add("active")  
}

// Remove active class
if (counter === 1 && started === false){
 let prevItem = document.getElementById('carousel3')
 prevItem.classList.remove("active") 
} else if (counter === 2){
 let prevItem = document.getElementById('carousel1')
 prevItem.classList.remove("active") 
} else if(counter === 3){
 let prevItem = document.getElementById('carousel2')
 prevItem.classList.remove("active") 
}

counter += 1

}, 7000);
   


</script>



