<div class="login-form">
 <div class="container">   
  <div class="login-form login-booking">
   <div class="main-div">
    <div class="panel">

      <h2 style="color: #ff6969; font-size: 25px;"><strong>Price per night: <%= Listing.find(params[:id]).price_per_night %> </strong></h2>           

    </div>
    <%= form_for :booking, url: create_booking_path(params[:id]), id: "create-booking", class: "listings" do |form| %>

    <div class="form-group" style="margin-top: 2%;">

      <div class="row">

       <div class="col-md-6 form-group">
        <label>Check In</label>
        <input type="date" class="form-control" id="inputCheckin" name="booking[start_date]">
      </div>

      <div class="col-md-6 form-group">
        <label>Check Out</label>
        <input type="date" class="form-control" id="inputCheckout" name="booking[end_date]">
      </div>

    </div>

     <!--  <div class="form-group">
        <label for="selectGuests">Guests</label>
        <select class="form-control" id="selelctGuests" name="booking[num_guests]">
         <option>1</option>
         <option>2</option>
         <option>3</option>
         <option>4</option>
         <option>5</option>
      </select>          
    </div> -->

    <input type="hidden" value="<%=current_user.id%>" name="booking[user_id]">
    <input type="hidden" value="<%= params[:id]%>" name="booking[listing_id]">      
    <button type="submit" class="btn btn-primary">Book</button>

    <%end%>  
  </div>
</div>
</div>
</div>
</div>