<div class="login-form">
  <div class="container">   
    <div class="login-form login-booking">
      <div class="main-div">
        <div class="panel">

          <h2 style="color: #ff6969; font-size: 25px;"><strong>Your ideal place</strong></h2>           

        </div>

        <%= form_for :user, url: listings_search_path, id: "listings", class: "listings" do |form| %>

        <div class="form-group" style="margin-top: 2%;">
          <label>Where?</label>
          <input style="text-align: center" type="text" class="form-control" id="inputLocation" placeholder="Anywhere" name="user[location]">
        </div>

        <!-- <div class="row">

          <div class="col-md-6 form-group">
            <label>Check In</label>
            <input type="date" class="form-control" id="inputCheckin" name="user[check_in]">
          </div>

          <div class="col-md-6 form-group">
            <label>Check Out</label>
            <input type="date" class="form-control" id="inputCheckout" name="user[check_out]">
          </div>

        </div>
        
        <div class="form-group">
          <label for="selectGuests">Guests</label>
          <select class="form-control" id="selelctGuests" name="user[guests]">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>          
        </div> -->

        <button type="submit" class="btn btn-primary">Search</button>

        <%end%>  
      </div>

    </div>
  </div>
</div>
