<div class="container listings-search-results">
   <div class="row" style="margin-top: 5%;">
      <% @listings.each do |listing| %>
      <div class='col-sm-12 col-md-4 align-items-center justify-content-center' >
         <div class='col-sm-12'>
            <div class='card'>      
               <img class='card-img-top listing-pic-on-profile-pg img-thumbnail' src='<%=listing.image%>' style='width: 100%; height: 100%;' />      
               <div class='row card-body'>
                  <div class='col-md-12'>
                     <p class='card-text'><%=truncate(listing.description, :length => 200) %> <br/> <a href='/listing/<%=listing.id%>'>View property</a></p>
                  </div>                  
               </div>
            </div>
         </div>
      </div>
      <% end %>
   </div>
   <%= will_paginate @listings, renderer: BootstrapPagination::Rails %>
</div>

