/* Uses Bootstrap stylesheets for styling, see linked CSS*/
/* line 6, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
.hosted-field {
  height: 50px;
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  display: inline-block;
  box-shadow: none;
  font-weight: 600;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #dddddd;
  line-height: 20px;
  background: #fcfcfc;
  margin-bottom: 12px;
  background: linear-gradient(to right, white 50%, #fcfcfc 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 300ms ease-in-out;
}

/* line 26, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
.hosted-fields--label {
  font-family: courier, monospace;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-bottom: 6px;
}

/* line 34, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#submit-payment-btn-container {
  display: block;
  text-align: center;
}

/* line 39, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#submit-payment-btn {
  cursor: pointer;
  font-weight: 500;
  line-height: inherit;
  position: relative;
  text-decoration: none;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
}

/* line 54, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#submit-payment-btn--small {
  padding: 10px 20px;
  font-size: 0.875rem;
}

/* line 59, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#submit-payment-btn--green {
  outline: none;
  background-color: #64d18a;
  border-color: #64d18a;
  color: white;
  transition: all 200ms ease;
}

/* line 67, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#submit-payment-btn--green:hover {
  background-color: #8bdda8;
  color: white;
}

/* line 72, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
.braintree-hosted-fields-focused {
  border: 1px solid #64d18a;
  border-radius: 1px;
  background-position: left bottom;
}

/* line 78, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
.braintree-hosted-fields-invalid {
  border: 1px solid #ed574a;
}

/* line 85, /home/franta/Desktop/airbnb/app/assets/stylesheets/braintree.scss */
#cardForm {
  max-width: 50.75em;
  margin: 0 auto;
  padding: 1.875em;
}
