<div class="login-form">
   <div class="container">   
      <div class="login-form">
         <div class="main-div">
            <div class="panel">

               <%= form_for :session, url: users_edit_path, id: "edit-user", class: "edit-user-info" do |form| %>

               <div class="form-group email-signup">
                  <label>Date of Birth</label>
                  <input type="date" class="form-control" id="inputBirthdate" placeholder="Date of Birth" name="user[birthdate]">
               </div>

               <div class="form-group">
                  <label>Password</label>
                  <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="user[password]">
               </div>

               <button type="submit" class="btn btn-primary">Continue</button>          

               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
