

<%= form_for :user, url: users_path, id: "clearance", class: "" do |form| %>

<div class="form-group email-signup">
  <input type="email" class="form-control" placeholder="Email Address" name="user[email]"  style="text-align: center">
</div>

<div class="form-group">
  <input type="text" class="form-control" placeholder="First Name" name="user[first_name]"  style="text-align: center">
</div>

<div class="form-group">
   <input type="text" class="form-control" placeholder="Family Name" name="user[last_name]"  style="text-align: center">
</div>

<div class="form-group">
   <input type="date" class="form-control" placeholder="Date of birth" name="user[birthdate]"  style="text-align: center">
</div>

<div class="form-group">
   <input type="password" class="form-control" placeholder="Password" name="user[password]"  style="text-align: center">
</div>

<button type="submit" class="btn btn-primary">Register</button>

<%end%>  