
<div class="container">

 <div class="row">
  <div class="col-sm-12" >
   <%=image_tag(User.find(params[:id]).avatar, :class => "profile-row-item profile-pic")%>   
   
   <% if current_user.id == params[:id].to_i %>
   <%= form_for current_user, url: "/users/#{current_user.id}", :class => "profile-row-item", method: "patch" do |f| %>

   <div class="profile-row-item">
     <%= f.file_field :avatar  %> 

     <%= f.submit "Edit Avatar" %>
   </div>
   <% end %>
   <% end %>

 </div>

 <div class="col-sm-12 " style="margin-top: 1%;">
  <div class="card">
   <div class="card-header">
     <%= @user_name %>
   </div>
   <div class="card-body">
    <h5 class="card-title">About <%= @user_first_name %></h5>
    <p id="user-description-current" class="card-text"><%= @description %></p>         
    
    <% if current_user.id == params[:id].to_i %>             

    <div id="user-description-text-box">

      <%= form_for :update_usr_description, url: update_user_description_path, id: "usr-description-form", class: "" do |form| %>
      
      <input type="text" class="form-control" placeholder="Describe yourself" name="user[description]" style="text-align: center">  
      
      <button type="submit" class="btn btn-success" style="margin-top: 1%;">Save changes</button> 
      <%end%>

    </div>
    <a style="margin-top: 1%;" href="#" id="update-user-description-btn" class="btn btn-primary" onclick="event.preventDefault();updateUserDescription()">Update Description</a>    
    <% end %>
  </div>
</div>
</div>
</div>


<!-- Display listings -->
<% if @has_listings %>

<div class="container">

  <div class="row" style="text-align: center;">

    <div class="col-sm-12" style="text-align:center; margin-top: 10%;">         
     <h2 > Hosted property </h2>
     <hr>
   </div>

   <div class="container listings-search-results">

    <% @listings.each do |listing| %>    
    
    <%= style_listings(listing).html_safe %>   

    <!-- Render booking form -->

    <div class="login-form">
     <div class="container">   
      <div class="login-form profile-booking">
       <div class="main-div">
        <div class="panel">

          <h2 style="color: #ff6969; font-size: 25px;"><strong>Price per night: <%= listing.price_per_night %> </strong></h2>           

        </div>
        <%= form_for :booking, url: braintree_new_path(params[:id]), id: "create-booking", class: "listings" do |form| %>

        <div class="form-group" style="margin-top: 2%;">

          <div class="row">

           <div class="col-md-6 form-group">
            <label>Check In</label>
            <input type="date" class="form-control" id="inputCheckin" name="booking[start_date]">
          </div>

          <div class="col-md-6 form-group">
            <label>Check Out</label>
            <input type="date" class="form-control" id="inputCheckout" name="booking[end_date]">
          </div>

        </div>

        <div class="form-group">
          <label for="selectGuests">Guests</label>
          <select class="form-control" id="selelctGuests" name="booking[num_guests]">
           <option>1</option>
           <option>2</option>
           <option>3</option>
           <option>4</option>
           <option>5</option>
           <option>6</option>
           <option>7</option>
           <option>8</option>
         </select>          
       </div>

       <input type="hidden" value="<%=current_user.id%>" name="booking[user_id]">
       <input type="hidden" value="<%= listing.id%>" name="booking[listing_id]">      
       <button type="submit" class="btn btn-primary">Book</button>

       <%end%>  
     </div>
   </div>
 </div>
</div>
</div>
<!-- End of booking form -->
</div>

<% if current_user.id = params[:id] %>
<div class="row col-sm-12" style="margin-top: 2%;">

  <div class="form-group col-sm-12 col-md-6">
    <%= button_to 'Delete Listing', listings_delete_path(id: listing.id), method: :post, :class => 'btn btn-danger' %>
  </div>

  <!-- Upload multiple files -->
  <!-- <a class="btn btn-soial-icon btn-facebook" onclick="showUploadArea()"><i class="fa fa-upload"></i></a>
    <div class="form-group col-sm-12 col-md-6"> -->

      <!-- Upload Files: Hidden by default -->
    <!-- <div id='upload-files-area' class='container' style='display: none;'>
     <div class='panel panel-default'> -->
       <!-- <a href='#' onclick='hideUploadArea()' class='close file-upload-close' aria-label='close'>&times;</a> -->
       <!-- <div class='panel-heading'><strong>Upload Files</strong></div>      
       <div class='panel-body'>
       -->
       <!-- Form -->
       <!-- <h4>Select files from your computer</h4> -->
       <%= form_for listing, url: "/listing/#{listing.id}", :html => {:class => 'profile-row-item', :id=>'js-upload-form', :enctype=>'multipart/form-data'}, method: "post" do |f| %>
         <!-- <div class='form-inline'>
          <div class='form-group'> -->

            <%= f.file_field :image, :html => {:name => 'files[]', :id=>'js-upload-files'} %> 
            <%= f.submit "Upload Images", :html => {:class=>'btn btn-sm btn-primary', :id=>'js-upload-submit'}%>
          </div>

      <!--   </div>
      </div> -->

      <!-- Drop Zone -->
      <!-- <h4>Or drag and drop files below</h4>
      <div class='upload-drop-zone' id='drop-zone'>
        Just drag and drop files here
      </div> -->

      <!-- Progress Bar -->
      <!-- <div class='progress'>
        <div class='progress-bar' role='progressbar' aria-valuenow='60' aria-valuemin='0' aria-valuemax='100' style='width: 60%;'>
          <span class='sr-only'>60 Complete</span>
        </div>
      </div> -->

      <!-- Upload Finished -->
      <!-- <div class='js-upload-finished'>
        <h3>Processed files</h3>
        <div class='list-group'>
          <a href='#' class='list-group-item list-group-item-success'><span class='badge alert-success pull-right'>Success</span>image-01.jpg</a>
          <a href='#' class='list-group-item list-group-item-success'><span class='badge alert-success pull-right'>Success</span>image-02.jpg</a>
        </div>
      </div>
    </div>
  </div>
</div> --> <!-- /container -->
<!-- End of File Upload -->

</div>
</div>
</div>
<% end %>




  <!-- div class="form-group col-sm-12 col-md-6">
    <%#= form_for listing, url: "/listing/#{listing.id}", :class => "profile-row-item", method: "post" do |f| %>


    <%#= f.file_field :image %> 

    <%#= f.submit "edit" %>
  </div>
</div>
<% end %> -->
</div>
<% end %>
</div>
<% end %>
</div>
</div>


</div>   





</div>