/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.*/

@import "bootstrap";
@import "font-awesome";

body{
  width: 100%;
}

.navbar{

}

.navbar-img{
 width:80px;
}

.book-place-btn{
  border-color: green;
  color: green;
}

.login-form{
 padding-top: 5%;
}

.register{
 display: none;
}

.email-signup{
 margin-top: 10%;
}

.profile-img-row{
  padding-top: 3%;

}

.profile-row-item{
  display: block;
  margin-left: auto;
  margin-right: auto;  
  text-align: center;
  margin-top: 2%;
}

.profile-pic{
  width: 300px;
}

#user-description-text-box{
 display: none;
}

.description-change-button{
  margin-top: 2%;
}

html {
  position: relative;
  min-height: 100%;
}

// Background carousel
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.item:nth-child(1) {

  background: url(<%= image_url("house1.jpg") %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item:nth-child(2) {
  background: url(<%= image_url("house2.jpg") %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.item:nth-child(3) {
  background: url(<%= image_url("house3.jpg") %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.carousel {
  z-index: -99;
}
.carousel .item {
  position: fixed;
  width: 100%;
  height: 100%;
}
// ###############

// Background img
.background-image{ 
  background: url() no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%; 
  z-index: -900;  
}

// Form
.form-heading { 
 color:#fff; font-size:23px;
}
.panel h2{ 
 color:#444444; 
 font-size:18px; 
 margin:0 0 8px 0;
}
.panel p { 
 color:#777777; 
 font-size:14px;
 margin-bottom:30px;
 line-height:24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding-top: 0px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 20px;
  border-style: solid;
  border-width: thin;  
  margin: auto;
  min-width: 320px!important;
  max-width: 70%;   
  margin-top: 0px;
  padding: 20px 70px 20px 71px;  
}

.login-form .form-group {
  margin-bottom:10px;
}
.login-form{ 
  text-align:center;
  padding-top: 3%;
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form  .btn.btn-primary {
  background: #f0ad4e none repeat scroll 0 0;
  border-color: #f0ad4e;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left; margin-bottom:30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #ff9900 none repeat scroll 0 0;
}
.back { text-align: left; margin-top:10px;}
.back a {color: #444444; font-size: 13px;text-decoration: none;}


// Making login/search/user_edit forms narrower

.login-booking .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 20px;  
  border-style: solid;
  border-width: thin;
  margin: auto;
  min-width: 320px!important;  
  max-width: 45%; 
  padding: 50px 70px 50px 71px;  
}

.login-form{
  padding-top: 3%;
}

.login-booking{
  padding-top: 6%!important;
}

// Amandements for booking form on profile pg
.profile-booking .main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 20px;  
  border-style: solid;
  border-width: thin;
  margin: auto;
  min-width: 360px!important;  
  max-width: 45%; 
  padding: 10px 10px 10px 10px;  
}

.listing-profile-img{
  padding-left: 0px;
  padding-right: 0px;
  height: 500px;
}

// Drag and Drop upload */
// /* layout.css Style */
#upload-files-area{
  margin-top: 1%;
}

.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  
}

// /* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

// /* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white; 
}

// /* Upload area */

.file-upload-close{
  margin-right: 1%;
  margin-top: 1%; 
}

.main-content{  
  justify-content: center;
  text-align: center;
}

.main-content img{
  margin-right: 2%;
  margin-left: 2%;

}

.first-content-row{
  margin-top: 2%;
}