// Place all the styles related to the Braintree controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Uses Bootstrap stylesheets for styling, see linked CSS*/
.hosted-field {
 height: 50px;
 box-sizing: border-box;
 width: 100%;
 padding: 12px;
 display: inline-block;
 box-shadow: none;
 font-weight: 600;
 font-size: 14px;
 border-radius: 6px;
 border: 1px solid #dddddd;
 line-height: 20px;
 background: #fcfcfc;
 margin-bottom: 12px;
 background: linear-gradient(to right, white 50%, #fcfcfc 50%);
 background-size: 200% 100%;
 background-position: right bottom;
 transition: all 300ms ease-in-out;
}

.hosted-fields--label {
 font-family: courier, monospace;
 text-transform: uppercase;
 font-size: 14px;
 display: block;
 margin-bottom: 6px;
}

#submit-payment-btn-container {
 display: block;
 text-align: center;
}

#submit-payment-btn {
 cursor: pointer;
 font-weight: 500;
 line-height: inherit;
 position: relative;
 text-decoration: none;
 text-align: center;
 border-style: solid;
 border-width: 1px;
 border-radius: 3px;
 -webkit-appearance: none;
 -moz-appearance: none;
 display: inline-block;
}

#submit-payment-btn--small {
 padding: 10px 20px;
 font-size: 0.875rem;
}

#submit-payment-btn--green {
 outline: none;
 background-color: #64d18a;
 border-color: #64d18a;
 color: white;
 transition: all 200ms ease;
}

#submit-payment-btn--green:hover {
 background-color: #8bdda8;
 color: white;
}

.braintree-hosted-fields-focused {
 border: 1px solid #64d18a;
 border-radius: 1px;
 background-position: left bottom;
}

.braintree-hosted-fields-invalid {
 border: 1px solid #ed574a;
}

.braintree-hosted-fields-valid {
}

#cardForm {
 max-width: 50.75em;
 margin: 0 auto;
 padding: 1.875em;
}