// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .listing-pic-on-profile-pg{
//    width: 100%;  
//    display: block;
//    margin-left: auto;
//    margin-right: auto;
// }